// first-header
#first-header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #191a19;

  .navbar {
    display: flex;

    z-index: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    padding: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;

    .logo {
      color: #fff;
      font-weight: bold;
    }
    .menu {
      .list {
        display: flex;
        gap: 2rem;
      }
      a {
        font-size: 1.4rem;
        text-transform: uppercase;
        color: #fff;
        padding-bottom: 0.2rem;
        &:hover {
          border-bottom: 2px solid $green-color;
        }
      }
    }

    #toggler,
    label {
      color: #ffffff;
      display: none;
      font-size: 2rem;
    }
  }
}

// header
#header {
  &__home {
    height: 100vh;
    color: $dark-color;
    background-color: #fff;
    position: relative;

    .header-content {
      position: absolute;
      text-align: center;
      top: 53%;
      left: 50%;
      transform: translateY(-50%);
      left: 0;

      width: 100%;

      h1 {
        font-size: 6.4rem;
        line-height: 1.2;

        .typewrite {
          color: $green-color;
        }
      }
    }

    .typewrite {
      display: block;
    }
  }

  &__inner {
    height: 30vh;

    background-color: #191a19;
    display: flex;
    text-align: center;
    color: #fff;
  }
}
